body{
    width: 960px;
    margin: 0 auto;
}
.card{
    width: 255px;
    border: 4px solid rgb(45, 13, 224);
    border-radius: 42px;
    display: inline-block;
    margin: 20px;
}
img{
    width: 255px;
    border-radius: 37px 38px 0px 0px;
}
.card-title{
    color: rgb(45, 13, 224);
    padding: 10px 61px;
    text-align: center;
}
.card-text{
    text-align: center;
    color: blue;
}
.b{
    color: wheat;
    background-color:rgb(45, 13, 224) ;
    border: none;
    padding: 10px 40px;
    border-radius: 20px;
    margin: 8px;
    margin-left: 54px;
}
.b:hover{
    background-color: rgb(255, 0, 0);
    color: rgb(45, 13, 224);
}/* ixtiyor */
.mmm{
    height: 260px;
    width: 255px;
}
.mmm:hover{
    opacity: 1;
    background-color: rgb(184, 100, 100);
    
}